{% extends 'index.html' %}

{% block content %}
<!-- Main -->
<section id="main" class="container medium">
    <!-- The Modal -->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="Close Modal">&times;</span>
        <h2>Sign In</h2>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <!-- Modal Content -->
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="container">
            <label for="user_name"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="user_name">

            <label for="user_Password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="user_Password">
            <p class="error error--hidden"></p>

            <button type="submit" class="button">Login</button>
        </div>
    </form>
{% endblock %}